@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-nerv {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    transform: scaleX(0.79);
    transform-origin: left;
    display: inline-block;
  }
}